@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
/* @tailwind base;
@tailwind components;
@tailwind utilities; */


@layer base {

    * {
      font-family: "Poppins", system-ui, sans-serif;
    }

    h1,h2,h3,h4,h5,h6{
      font-family: 'Quicksand', sans-serif;
    }
    a{
      @apply block
    }

    p,label,input{
      @apply block
    }

   
   .spin-logo{
    animation:spin-up 7s linear infinite ;
    transform-origin: 250px 250px;
   }

   @keyframes spin-up {
    0%{
      rotate: 0deg;
    }
    100%{
      rotate: -360deg;
    }
   }

   .no-scrollbar::-webkit-scrollbar {
    display: none;
}
  
  .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
  }
  .layer{
    border-radius: 0px 0px 5px 5px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0.04%, #000 99.96%);

  }
  .layerimg{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0.04%, #000 99.96%);
  }


  }

